:host {
  display: block;
  width: 100%;
}

mat-card {
  box-shadow: 0 25px 50px -12px rgba(15, 23, 42, 0.65);
}

mat-card-header {
  padding-bottom: 0;
}

mat-card-content {
  padding-top: 1.5rem;
}

mat-icon {
  font-variation-settings: 'FILL' 1, 'wght' 400;
}
